{
  admin off
  auto_https disable_redirects
  log {
    level WARN
  }
}

https://localhost:8443 {
  tls internal
  encode zstd gzip

  header {
    -Server
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }

  reverse_proxy app:3000 {
    header_up Host {host}
  }
}
